{% extends "template.html" %}
{% block conteudo %}
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>RA</th>
            <th>Código do livro reservado</th>
            <th>Data de reserva</th>
            <th>Data da devolução</th>
        </tr>
    </thead>
    <tbody>
        {% for campo in historico %}
        {% if campo.data_retorno != None %}
        <tr>
            <td>{{ campo.ra }}</td>
            <td>{{ campo.id }}</td>
            <td>{{ campo.data_saida.strftime('%d/%m/%Y') }}</td>
            <td>{{ campo.data_retorno.strftime('%d/%m/%Y') }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}